<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">
try {
    var jQueryObj;
    if(typeof($) === 'undefined') {
        jQueryObj = jQuery;
    } else {
        jQueryObj = $;
    }
    (function($) {
        
        $( document ).ready(function() {
            $('.collapsed-content-expander').closest('.content').find('.sometimes-shown').hide();
            
            $('.collapsed-content-expander').click(function(e) {
                $(e.target).closest('.content').find('.collapsed-content-expander').hide();
                    $(e.target).closest('.content').find('.sometimes-shown').show();
                
                return false;
            });
        });
    })(jQueryObj);  // Execute.
} catch(err) {
    
}

</script>
<script>
   $(document).ready(function(){
       $('.register-details').hide();
       $('#expand-all').on({'click': function(){
        if ( $('.register-details').css('display') === 'none' ){
            $('.register-details').show();
            $('.short-description').hide();
            $('#expand-all').attr("src","https://ljsimpleregisterlookup-staging.herokuapp.com/static/images/open_35.png"); 
            $('.expand-img').attr("src","https://ljsimpleregisterlookup-staging.herokuapp.com/static/images/open_35.png");
        }else{
            $('.register-details').hide();
            $('.short-description').show();
            $('#expand-all').attr("src","https://ljsimpleregisterlookup-staging.herokuapp.com/static/images/closed_35.png");
            $('.expand-img').attr("src","https://ljsimpleregisterlookup-staging.herokuapp.com/static/images/closed_35.png");
            $('.sometimes-shown').hide();
            $('.collapsed-content-expander').show();
        }
        sleep(1000);
    }
    });
  $('table').find('tr').click( function(){
  var row = $(this).find('td:first').attr('id');
  if ( $('#'+row+'details').css('display') === 'none' ){
           $('#'+row+'details').show();
           $('#'+row+'SPN').hide();
           $('#'+row+'IMG').attr("src","https://ljsimpleregisterlookup-staging.herokuapp.com/static/images/open_35.png");
        }else{
            $('#'+row+'details').hide();
            $('#'+row+'SPN').show();
            $('#'+row+'IMG').attr("src","https://ljsimpleregisterlookup-staging.herokuapp.com/static/images/closed_35.png");
        }
        sleep(1000);
        });   
   });
   window.onbeforeprint = function() {
$('.register-details').show();
            $('.short-description').hide();
            $('#expand-all').attr("src","https://ljsimpleregisterlookup-staging.herokuapp.com/static/images/open_35.png"); 
            $('.expand-img').attr("src","https://ljsimpleregisterlookup-staging.herokuapp.com/static/images/open_35.png");
             $('.sometimes-shown').show();
             $('.collapsed-content-expander').hide();
   }
   window.onafterprint = function() {
    $('.register-details').hide();
    $('.short-description').show();
    $('#expand-all').attr("src","https://ljsimpleregisterlookup-staging.herokuapp.com/static/images/closed_35.png");
    $('.expand-img').attr("src","https://ljsimpleregisterlookup-staging.herokuapp.com/static/images/closed_35.png");
    $('.sometimes-shown').hide();
    $('.collapsed-content-expander').show();
};
</script>