<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LJScribe postfix</title>
        <script src="/static/js/jquery.js"></script>
    </head>
    <body>
        <script>
            $( document ).ready(function() {
                $('.collapsed-content-expander').closest('.content').find('.sometimes-shown').hide();
                
                $('.collapsed-content-expander').click(function(e) {
                    $(e.target).closest('.content').find('.collapsed-content-expander').fadeOut(function () {
                        $(e.target).closest('.content').find('.sometimes-shown').fadeIn();
                        notifyParentOfSize(); // Trigger resize of parent element when registers expand.
                    });
                    return false;
                });

                // notifies parent element of calculated size of SRL element.
                // Only the height is important, do we bother with the width?
                function notifyParentOfSize() {
                    const width = document.body.scrollWidth;
                    const height = document.body.scrollHeight;
        
                    window.parent.postMessage(
                        { type: 'resize', width, height },
                        '*'
                    );
                }
        
                // Notify parent of the size initially and on window resize
                notifyParentOfSize();
                window.addEventListener('resize', notifyParentOfSize);
            });
        </script>
    </body>
</html>

