
<style>
    @import "https://ljsimpleregisterlookup-staging.herokuapp.com/static/css/bootstrap.css";
    .shortdes {
    line-height: 1.7;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
}
.hover-color{
    background-color: #b8daff;
}
.hover-color:hover {
    background-color: #e5f1ff;
    cursor: pointer;
}
.lj-scribe-tag  *, .lj-scribe-tag  *::before, .lj-scribe-tag  *::after {
    box-sizing: border-box;
}
.lj-scribe-tag {
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;

}
.lj-scribe-tag  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 2px;
    -webkit-border-horizontal-spacing: 2px;
    -webkit-border-vertical-spacing: 2px;
    border-color: grey;
    border-top-color: grey;
    border-right-color: grey;
    border-bottom-color: grey;
    border-left-color: grey;

}
.lj-scribe-tag tbody {
    display: table-row-group;
    vertical-align: middle;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    text-align: start;
    border-spacing: 2px;
    border-color: grey;
    font-variant: normal;
    -webkit-tap-highlight-color: transparent;
}
.lj-scribe-tag  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    display: table;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    text-align: start;
    border-spacing: 2px;
    border-color: grey;
    font-variant: normal;
    -webkit-border-horizontal-spacing: 2px;
    -webkit-border-vertical-spacing: 2px;
    border-color: grey;
    border-top-color: grey;
    border-right-color: grey;
    border-bottom-color: grey;
    border-left-color: grey;
}
.lj-scribe-tag .table-info {
    display: table-row;
    background-color: #bee5eb;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    text-align: start;
    border-spacing: 2px;
    font-variant: normal;
}

.lj-scribe-tag .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.lj-scribe-tag .table-info th{
    background-color: #bee5eb;
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    display: table-cell;
    font-weight: bold;
    -webkit-tap-highlight-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.lj-scribe-tag  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    text-align: start;
    border-spacing: 2px;
}

.lj-scribe-tag .table th, .lj-scribe-tag .table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.lj-scribe-tag img {
    vertical-align: middle;
    border-style: none;
}
.lj-scribe-tag .table .table-info .scribe-th{
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    color: #000000;
}

@media print {
    .lj-scribe-tag {
        -webkit-print-color-adjust: exact;
    }
}
</style>